<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
     <thead><tr> <th><strong>Date</strong></th> <th><strong>Session</strong></th> <th><strong>Topics</strong></th> </tr></thead>
     <tbody>
      <tr><td>April 11</td><td>Introduction to R - Session 1</td><td>Intro to R & RStudio - basics, data structures, and data import/export</td></tr>
      <tr><td>April 12</td><td>Introduction to R - Session 2</td><td>dplyr and tidyverse</td></tr>
      <tr><td>April 13</td><td>Introduction to R - Session 3</td><td>Plotting with ggplot2 and knitr</td></tr>
      <tr><td></td><td>Quiz</td><td> Due next session; posted on Canvas</td></tr>
      <tr><td>April 14</td><td>Version Control with Git</td><td>Introduction to Git, creating a repository, tracking changes, and collaborating</td></tr>
     </tbody></table>
  </div>
</div>
